:root {
  /* Colours */
  --color-bg: light-dark(#831d1d, #a54949); /* page background /*

  /* Header */
  --color-head-bg: light-dark(#111111, #ffffff);

  /* Logotype */
  --color-logotype-bg: light-dark(#76271e, #9c3838);
  --color-text-logotype: light-dark(#d7d2d2, #000000);
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: light-dark(#332105, #906d46);
  /* Links */
  --color-link-bg: #;
  --color-link-hover: light-dark(#d7d2d2, #000000); /* used */
  --color-link-active: light-dark(#d7d2d2, #000000); /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: light-dark(#332105, #906d46);
  --color-headline-text-page: light-dark(#d7d2d2, #000000);

  /* Tekst */
  --color-text: light-dark(#d7d2d2, #000000);
  --color-text-inverted: light-dark(#d7d2d2, #000000);

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: light-dark(#111111, #ffffff);
  --color-cta-card-bg: light-dark(#76271e, #9c3838);
  /* news-cards */
  --color-news-bg: light-dark(#111111, #ffffff);
  --color-news-bg-inverted: light-dark(#111111, #ffffff);
  --color-cta-newscard-bg: light-dark(#76271e, #9c3838);
  --color-cta-newscard-bg-inverted: light-dark(#76271e, #9c3838);

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark (#111, #fff);
  --color-infobox-1-bg: light-dark(#9a9392, #9c3838);
}
